body {
  padding-top: 50px;
  padding-bottom: 70px; }

.navbar-nav input {
  margin-top: 8px;
  margin-bottom: 8px; }

.row-pad {
  margin-top: 20px; }

.posting {
  margin-top: 20px; }
  .posting img {
    max-width: 100%; }
